$default-color: rgb(0, 140, 255);
$success-color: rgb(44, 218, 0);
$cancel-color: rgb(255, 53, 86);
$warning-color: rgb(255, 201, 53);
$header-height: 64px;
$footer-height: 60px;
$container-padding: 2rem;
