@use '../../style/global';

main {
    margin-top: global.$header-height;
    min-height: calc(100vh - global.$header-height - global.$footer-height);
    
    .container {
        padding: 2rem global.$container-padding;
    }
}